#OBD-logging
.vscode
.vscode/launch.json
OBD-Logger/Test.py

# web-application
node_modules
package-lock.json
# Debug log from npm
npm-debug.log
# Local env file with credentials
.env
__pycache__
markers.json
data.json
OBD-Logger/Files/Unittest.csv
OBD-Logger/Files/TestFile.csv
OBD-Logger/Test.py
OBD-Logger/Files/TestFile.csv
OBD-Logger/env.py
*test.json
*.csv
OBD-Logger/Files/Random.test
OBD-Logger/Files/Random_NoGPS.test
OBD-Logger/Files/Zeros.test
OBD-Logger/Files/empty.test
OBD-Logger/Files/testFile.test
