#OBD-logging
OBD-Logger/__pycache__/LogFile.cpython-35.pyc
.vscode
OBD-Logger/__pycache__/LogFile_test.cpython-35.pyc
OBD-Logger/Files/TestFile.csv
.vscode/launch.json
OBD-Logger/Test.py

# web-application
node_modules
# Debug log from npm
npm-debug.log
# Local env file with credentials
.env
markers.json
data.json
