body {
    font-size: .875rem;
    /* min-height: 75rem;
    padding-top: 4.5rem; */
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link:hover {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
  
  /*
   * Navbar
   */
  
  /* .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
  } */

  .btn-outline-success {
    color: #fff;
    border-color: #93ebfb;
  }

  .btn-outline-success:hover {
    color: #fff;
    border-color: #fff;
    background-color: #93ebfb;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .register {
    max-width: 400px;
    width: auto;
    border-radius: 15px;
    text-align: left;
    margin: 0 auto;
  }

  .login {
    max-width: 400px;
    width: auto;
    border-radius: 15px;
    text-align: left;
    margin: 0 auto;
  }

  .scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  }
    
  .scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
  }
  
  .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #93ebfb 0%, #57ebf5 100%);
    background-image: linear-gradient(120deg, #93ebfb 0%, #57ebf5 100%); 
  }
  
  /*TODO: verbessern*/
  .example-1 {
    position: relative;
    overflow-y: scroll;
    margin-top: 46px;
    height: 440px;
    width: 200px;
  }

  .tripButtons {
    float: left;
    width: 200px;
  }

  .mapAndChart {
    float: right;
    min-width: 70%;
    margin-right: 10px
  }

  .btn-group-toggle>.btn, .btn-group-toggle>.btn-group>.btn {
    margin-top: 10px;
  }

  .tripButton {
    width: 100%;
    text-align: left;
  }

  .buttonText {
    font-size: 70%;
    text-align: left;
  }

  .btn-secondary {
    background-color: #bbbbbb;
    border-color: #bbbbbb;
  }
    
  .mapHeading {
    width: 100px;
    float: left;
  }

  .showButton {
    padding: 1px;
    margin-bottom: 4px;
  }

  #datepicker {
    width: 66%;
  }
/* 
  :root {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 800px;
    --breakpoint-lg: 800px;
    --breakpoint-xl: 1200px;
  } */