{{> header }}
<main role="main" class="container">
<div class="jumbotron login">
    <h1>{{title}}</h1>

    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger" role="alert">
                {{this.msg}}
            </div>
        {{/each}}
    {{/if}}

    <form method="POST" action="/resetpw_confirmed{{token}}">
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="passwordMatch">Repeat password</label>
            <input type="password" name="passwordMatch" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Reset password</button>
    </form>
</div>
</main>
{{> footer-end }}